body {margin:0 ;
      background-image: url(photo-1533628635777-112b2239b1c7.jfif);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;}
h1{font-style: italic;
      font-size: xx-large;
      font-weight: bold;}        
h7{font-size: larger;
font-weight: bolder;
}
.icon-bar {
      width: 100%;
      background-color: #555;
      overflow: auto;
    }
    
    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }
    
    .icon-bar a:hover {
      background-color: #000;
    }
    
    .active {
      background-color: #4CAF50;
    }